<div class="slideshow-container">
<div style="padding: 0px 0px;">
<a class="button" href="/index.html"><h3>Home</h3></a>
<a class="button" href="https://drive.google.com/file/d/1Zt3YiLyH5v0Xa1VRYUeS_h_73ysisMxw/view?usp=sharing">
 <h3>Resume</h3>
</a>
<a class="button" href="/projects.html">
 <h3>My Projects</h3>
</a>
<a class="button" href="/gallery.html">
<h3>Gallery</h3>
</a>
<a class="button" href="/about.html">
<h3>About</h3>
</a>
 <a class="button" href="https://github.com/andrewrubinstein">
 <h3>Github </h3>
 </a>
 <a class="button" href="https://www.linkedin.com/in/andrew-rubinstein-a817b41a9/">
 <h3>LinkedIn</h3>
 </a>
</div>
</div>
