* {box-sizing:border-box}
  
  #body {
     background-image: linear-gradient(to right,rgba(0, 0, 0, 1), rgba(250,250,250,1), rgba(0, 0, 0, 1));
  }
  #content {
    border-radius: 10px;
    border: 5px solid rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    width: 97vw;
    height: 97%;
    min-height: 97vh;
    text-align: center;
  }

  #subcontent {
    max-width: 1400;
    height: 97%;
    margin-left: auto;
    margin-right: auto;
    width: 94vw;
    color:  rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
  }
  .sunset-backdrop {
      width:100%; 
      height: 97%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      background-image: url("/image/backdrops/sunset.jpg"); 
  }
    .sunsetwater-backdrop {
        width:100%; 
        height: 97%;
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        background-image: url("/image/backdrops/sunsetwater.jpg"); 
    }
    .city-backdrop {
          width:100%; 
          height: 97%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
          background-image: url("/image/backdrops/city.png"); 
    }
    .skyline-backdrop {
          width:100%; 
          height: 97%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
          background-image: url("/image/backdrops/skyline.jpg"); 
    }
    .barge-backdrop {
            width:100%; 
            height: 97%;
            background-position: left;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            background-image: url("/image/backdrops/barge.jpg"); 
    }
      
          #homebutton {
            text-decoration: underline;
            background-color: rgb(0, 0, 0,0); /* Black */
            color: white;
            margin: auto;
            padding: 5% 5%;
            text-align: center;
            align-self: flex-start;
            display: inline-block;
            font-size: 73%;
        } 
          .listbutton {
            text-decoration: underline;
            background-color: rgb(0, 0, 0,0); /* Black */
            color: white;
            margin: auto;
            padding: 0vw 0%;
            text-align: center;
            display: inline-block;
            font-size: 93%;
        }  

        @media only screen and (max-width: 850px) {
            .listbutton {
            text-decoration: underline;
            background-color: rgb(0, 0, 0,0); /* Black */
            color: white;
            margin: auto;
            padding: 0vw 0%;
            text-align: center;
            display: inline-block;
            font-size: 70%;
          }  
        }
        @media only screen and (max-width: 650px) {
            .listbutton {
              background-color: rgb(0, 0, 0,0.2); /* Black */
              color: white;
              border: 2px solid rgb(255, 255, 255);
              border-radius: 15px;
              margin: auto;
              padding: 0vw 2.5%;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 50%;
          }  
        }
        .button {
            background-color: rgb(0, 0, 0); /* Black */
            color: white;
            border: 2px solid rgb(255, 255, 255);
            margin: auto;
            padding: 0vw 2.3%;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 73%;
        }
/*github, and linkedin buttons*/

@media only screen and (max-width: 850px) {
    .button {
        background-color: rgb(0, 0, 0); /* Black */
        color: white;
        border: 2px solid rgb(255, 255, 255);
        margin: auto;
        padding: 0vw 2%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 56%;
    }
}

@media only screen and (max-width: 620px) {
    .button {
        background-color: rgb(0, 0, 0); /* Black */
        color: white;
        border: 2px solid rgb(255, 255, 255);
        margin: auto;
        padding: 0vw 2.3%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 48%;
    }
}

@media only screen and (max-width: 580px) {
    .button {
        background-color: rgb(0, 0, 0); /* Black */
        color: white;
        border: 2px solid rgb(255, 255, 255);
        margin: auto;
        padding: 0vw 2.1%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 6px;
    }
}

@media only screen and (max-width: 460px) {
    .button {
        background-color: rgb(0, 0, 0); /* Black */
        color: white;
        border: 2px solid rgb(255, 255, 255);
        margin: auto;
        padding: 0vw 2.2%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 4.5px;
    }
}

@media only screen and (max-width: 390px) {
    .button {
        background-color: rgb(0, 0, 0); /* Black */
        color: white;
        border: 2px solid rgb(255, 255, 255);
        margin: auto;
        padding: 0vw 1.5%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 3.9px;
    }
}


  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: relative;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Text container */
  .text-container {
    position: relative;
    margin: auto;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 84.3%;
    padding: 8px 12px;
    background-color: rgb(0, 0, 0,0.55); /* Black */
    color: white;
    border: 2px solid white;
    text-align: center;
  }
  /* slide show container */
  .slideshow-container {
    position: relative;
    margin: auto;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 84.3%;
    padding: 8px 12px;
    background-color: rgb(0, 0, 0,0.8); /* Black */
    color: white;
    border: 2px solid white;
    text-align: center;
  }
  /* Caption text */
  .text {
    color: #ffffff;
    font-size: 18px;
    padding: 8px 12px;
    position: relative;
    bottom: 1px;
    width: 90%;
    margin-left: 5vw;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  
@media only screen and (max-width: 600px) {
  /* Caption text */
  .text {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: relative;
    bottom: 1px;
    width: 90%;
    margin-left: 5vw;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
}

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
@media only screen and (max-width: 1000px) {
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 22px;
    width: 22px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
}
@media only screen and (max-width: 800px) {
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
}
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
.list{
  list-style-type: none;
}