/*** General ***/
body {
    margin: 0;
}

@font-face{
  font-family: Robot-Regular;
  src: url(fonts/Roboto-Regular.ttf);
}

.app-font {
    font-family: Robot-Regular;
}

.app-font input {
    font-family: Robot-Regular;
}

.center-header {
    text-align: center;
    padding: 100px;
    margin: 0;
}

.center-content {
    display: flex;
    justify-content: center;
}

.app-button {
    background-color: lightgray;
    border: none;
    cursor: pointer;
}

.app-button:hover {
    background-color: gray;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/

/*** Landing Page ***/
/** Workout Selection **/
/* Style the workout selection container*/
#workout-selection {
    width: 1500px;
    height: 500px;
    padding: 50px;
    border-radius: 25px;
    background-image: url(https://images.unsplash.com/photo-1557564437-0995702f88fc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-position: bottom;
}

/* Sets the container as a horizontal list */
#workout-selection {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

/* Style the buttons in the workout selection container*/
#workout-selection button{
    background-color: white;
    border-color: black;
    border-radius: 25px;
    padding: 50px;
    margin: 50px;
    cursor: pointer;
}

#workout-selection button:hover {
    background-color: lightgray;
}

#workout-selection button:active {
    background-color: white;
    transform: translateY(4px);
}

/** Workout Submission **/
/* Style the workout submission container */
#workout-submission {
    align-items: center;
    padding: 0px 100px 100px 100px;
}

/* Style the contents of the workout submission form */
#workout-submission label {
    font-size: large;
    margin: 5px 10px 5px 0;
}

#workout-submission input {
    font-size: large;
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

#workout-submit-button {
    padding: 0;
    border-radius: 50%;
    margin-left: 10px;
    width: 60px;
    height: 60px;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/

/*** Playlist Page ***/
/* Style the playlist media buttons */
.media-button {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    padding: 0px;
    padding-top: 3px;
    margin: 10px;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/

/*** Playing Page ***/

/*-------------------------------------------------------------------------------------------------------------------------------*/

/*** Side Navigation Menu ***/
/** Open Menu Button **/
#open-menu-button {
    position: fixed; /* Stay in place */
    top: 0px; /* Stay at the top */
    border-radius: 5px;
}

/** Side Menu **/
#side-menu {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: lightgray;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px; /* Place content 50px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Position and style the close button (top right corner) */
#side-menu #close-menu-button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}

/** Navigation Links **/
#side-menu a {
    padding: 8px 8px 8px 32px;
    margin-bottom: 100px;
    text-decoration: none;
    font-size: 30px;
    color: black;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
#side-menu a:hover {
    color: #f1f1f1;
}

/** Dark Mode Toggle **/
#dark-mode-toggle {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    position: absolute;
    right: 100px;
    bottom: 100px;
}

/* Sets the background to black and text to white */
.dark-mode{
    background-color: black;
    color: white;
}